body {
  font-family: Arial;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.due-date-input {
  font-size: 15px;
  padding: 6px;
}

.add-todo-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.delete-todo-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.todo_line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.delete_todo{
  padding: 8px 16px;
  background-color: #ea7979;
}
.js-todo-list {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}